body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box {
    width: 90%;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
}

.box img {
    width: 100%;
    height: auto;
}

@media screen and (min-width: 772px) {

    main {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .box {
        width: 45vw;
    }

    .box img {
        max-height: 30vh;
        width: auto;
    }
}

@media screen and (min-width: 998px) {

    .box {
        width: 30vw;
    }
}